
/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}


/*font-family: 'PT Serif', serif;*/
/*font-family: 'Lato', sans-serif;*/


/*----------------------------------------------------------------------------
    Base
----------------------------------------------------------------------------*/

body{
    font-family: 'Lato', sans-serif;
    color: #8e8e8e;
    line-height: 1.5;
}

a{
    color: inherit;
    text-decoration: none;
}




/*----------------------------------------------------------------------------
    Structure
----------------------------------------------------------------------------*/

/*.wrapper{*/
    /*width: 1280px;*/
    /*margin: 0 auto;*/
/*}*/

/*.margin-top{*/
    /*margin-top: 30px;*/
/*}*/

/*.margin-bottom{*/
    /*margin-bottom: 30px;*/
/*}*/




/*----------------------------------------------------------------------------
    Modules
----------------------------------------------------------------------------*/

.menu{
    width: 25%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background-color: #181818;
}

.menu h2{
    font-family: 'PT Serif', serif;
    font-size: 1.5rem; /*24px*/
    color: #fff;
    font-weight: 400;
}

.padding{
    padding: 40px;
}

/* nav media */

nav.media ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #8e8e8e;

    list-style: none;
    padding: 0;
}

.media li{
    padding: 30px 0 40px;
}

.media a{
    font-size: 2rem; /*32 px */
}

.media a:hover{
    color: #de1255;
}

/* nav prin */

.prin ul{
    display: flex;
    flex-direction: column;

    list-style: none;
    padding: 0;

}

.prin a{
    flex-grow: 1;
    font-family: 'PT Serif', serif;
    font-size: 1.5rem /* 24px */;
    color: #fff;

    padding: 20px 40px;
}

.prin li{
    display: flex;
}

.prin li:hover{
    background-color: #002f5f;

}


/* Main */

/*nth-child(even)*/

.main{
    padding-left: 33.3333%;
    padding-right: 8.3333%;
}
.main header a{
    display: flex;
    justify-content: flex-end;
    align-items: center;


}

.main header a img{
    height: 71px;
    width: 67px;
}

h1{
    color: #002f5f;
}

span{
    color: #de1255;
    margin: 0 12px 0 10px;
}

/* Articles */

article{
    display: flex;


}

.date p{
    width: 110px;
    height: 110px;

    font-family: 'PT Serif', serif;
    font-size: 1.625rem; /* 26px */

    border-radius: 50%;
    border: 7px solid #ededed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenu h3{
    font-family: 'PT Serif', serif;
    font-size: 2rem; /* 32px */

    color: #272727;
}

article:nth-child(odd) .date p, article:nth-child(odd) a{
    color: #de1255;
}

article:nth-child(even) .date p, article:nth-child(even) a{
    color: #002f5f;
}

.contenu p{
    font-family: 'Lato', sans-serif;
    font-size: 1rem; /* 16px */
}












